[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/zfchu/mockturtle
[submodule "lib/benchmarks"]
	path = lib/benchmarks
	url = https://github.com/nbulsi/benchmarks
