[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/zfchu/mockturtle
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen
